@import url("https://fonts.googleapis.com/css?family=Space+Grotesk|Roboto&display=swap");

* {
  font-family: "Space Grotesk";
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h2,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination .page-item.active .page-link {
  background-color: #00b156;
  border-color: #00b156;
  color: #fff;
  font-size: 14px;
}

.pagination .page-item .page-link {
  float: left;
  margin: 0 2.5px;
  width: 28px;
  background: #fff;
  text-align: center;
  height: 28px;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  border-radius: 0;
  border: 1px solid #1c1c1c;
  text-decoration: none;
  border-radius: 3px !important;
  padding: 0;
}

.page-link {
  padding: 0;
}

.error_message {
  color: #ec1f27;
  font-size: 12px;
}

.notify_message_success {
  position: fixed;
  bottom: 50px;
  left: 0;
  background-color: #00b156;
  padding: 10px 20px;
  text-align: center;
  z-index: 60;
  width: 40%;

}

.notify_message_success>p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
}

.notify_message_error {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ec1f27;
  padding: 10px 20px;
  text-align: center;
  z-index: 60;
  width: 40%;
}

.notify_message_error>p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
}

.chat-icon-box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  border-radius: 50%;
  background-color: #0F91F3;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-icon-box svg {
  cursor: pointer;
}
/* @media(min-width: 769px) {
  .chat-bot {
  position: fixed;
  bottom: 50px;
  right: 50px;
  min-width: 300px;
  min-height: 400px;
  z-index: 100;
}
}

@media(max-width: 768px) {
  .chat-bot {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}
} */

/* .App {
  position: relative;
} */

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width:100%;
  height: 100%;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
  width: 50%;
}
.chat-window .chat-header button {
  color: #fff;
  font-weight: 700;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color:   cornflowerblue
  ; 
  /* cornflowerblue */
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: #43a047;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}