doctype html
html
  head
    title Lấy lại mật khẩu
  body
    h1 Lấy lại mật khẩu
    p Chào mừng đến với dịch vụ lấy lại mật khẩu của chúng tôi.
    p Để lấy lại mật khẩu, vui lòng nhấp vào liên kết dưới đây:
    p
      a(href=`${url}`) Lấy lại mật khẩu
    p Nếu bạn không yêu cầu lấy lại mật khẩu, vui lòng bỏ qua email này.
    p Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.