- var var1 = 'https://expressjs.com/en/starter/static-files.html'

doctype html
html
  head
    title Example Pug Template
  body
    header
      h1 Welcome to my Pug Template
    main
      h2 Main Content
      p This is where the main content of the page will be displayed.
      a(href=var1) Learn more about static files
    footer
      p Copyright &copy; 2023