.sectionTitle>p {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 700;
}

.formGroup {
    margin-top: 25px;
}

.formGroup>label {
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "Space Grotesk";
    font-weight: 700;
    color: rgb(33, 33, 33);
    margin-bottom: 8px;
}

.formGroup>input:focus {
    outline: none;
}

.formGroup>input {
    width: 100%;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgb(224, 224, 224);
    padding: 16px 20px
}

.formGroup>button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #757575;
    color: #fff;
}